/*MovieApp Project 4/25/19 
filename:style.css
App Interacts with and pulls data from the OMDB Api for movie information and movie posters*/

#movies img, #movie img{
	width: 100%;
}

@media(min-width: 960px) {
	#movies .col-md-3 .well{
		height: 390px;
	}
	
	#movies .col-md-3 img {
		height: 240px;
	}

}